<!DOCTYPE html>
<html>

<head />

<body>
    <h1>GDELT Data Processing Pipeline</h1>
    <p>

        Welcome! Please navigate to <a href="/data">/data</a> to view the data
        that has been uploaded to the recipient that was stored in the app's
        "data" table. Be warned, this endpoint returns a <a href="http://jsonlines.org/">JSON Lines</a>
        stream, which may contain more data than you'd like to view in a browser. To view
        a listing of the files that have been processed by this app, navigate to
        <a href="/files">/files</a>. To view an HTML version of the README, please
        <a href="/readme">click here.</a>

    </p>

    <p><a href="http://www.github.com/AustinTSchaffer">GitHub</a></p>
    <p><a href="http://www.linkedin.com/in/AustinTSchaffer">LinkedIn</a></p>
</body>

</html>